* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    overflow-x: hidden;
    background-image: url('./images/00.jpg');
    background-color: #000000;
    background-attachment: fixed;
    background-size: cover;
   
}

nav {
    background-color: #ffa590;
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 10px #333;
}
.landingPage {
    margin-left: auto;
    
} 
@media (min-width:576px) and (max-width: 720px){
    .landingPage {
        margin-left: auto;
        margin-right: auto;
    }
}
.landingPage-text {
    margin-bottom: 100px

}
.landingPage img {
    margin-right: 0;
}

/*  */.aboutUs img{
    min-height: 12.5em;
    
    
    
}
.aboutUs p{
    object-position: bottom ;
    font-size: medium;
}

.aboutUs {
    padding top: 250px;
    padding-bottom: 200px;
    background-color: #FFBCDA;
    
}

.gallery {
    background-color: #FFBCDA;
    background-image:url('./images/pink.jpg');
    box-shadow: hotpink;
}


.contactUs {
    background-color: #f25278;
}

